POSTGRES_CONTAINER_NAME=tesco_de_project

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=tesco_data

POSTGRES_PORT=5432

# 🔴 CHANGE THIS to your actual mac username
POSTGRES_DATA_PATH=/Users/YOUR_MAC_USERNAME/Documents/databases
DATA_PATH=/Users/YOUR_DATA_PATH/data